{%load static%}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Email Signature Generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'signature/css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'signature/css/base.css'%}">
		<link rel="stylesheet" href="{% static 'signature/css/inputtab.css'%}">
		<script src="https://kit.fontawesome.com/af8513a429.js" crossorigin="anonymous"></script>
        <script src="{%static 'signature/js/main.js'%}"></script>

        
    </head>
    {%block body%}
      
        <div class="container mt-1">
            {% comment %} <h2 class="text-center alert alert-primary"> Create Your Email Signature</h2> {% endcomment %}
           <div class="row"> 
               <div class="col-12">
               {%block head%}
               {%endblock head%} 
            </div>
           </div>
           
           
		 <div class="row"> 
			<div class="col-sm-4">
				<h4 class="text-center alert alert-info">Insert Your Informations</h4>
				{% block content %}
				{% endblock content %}
            
			
                <div class="col-sm-8">
                    <h4 class="text-center alert alert-info">Choose From Here</h4>
                    {%block output%}{%endblock output%}	
                </div>
            </div>
			
		 </div>
        </div>
		<footer class="container mt-5" style="padding-top:30px;"> 
			<h4 class="text-center alert alert-info" style="background-color: #6d94de"></h4>
		</footer> 
        
      
        <script src="{%static 'signature/js/jquery.js'%}"></script>
        <script src="dist/clipboard.min.js"></script>
        <script src="{%static 'signature/js/popper.js'%}"></script>
        <script src="{%static 'signature/js/bootstrap.js'%}"></script>
		<script src="{%static 'signature/js/font awesome.js'%}" crossorigin="anonymous"></script>
        
        {% comment %} <script src="" async defer>
            $(function(){
                var clipboard =new ClipboardJS('.copybutton');
                $(this).html('Copied!!');
                var that = $(this);
                var intrvrl= setInterval(function(){
                    that.html('copy');
                    clearInterval(intrvrl);},
                    1000);
            });

        });

        </script> {% endcomment %}
		{%endblock body%}
</html>