{% extends 'signature/input.html' %}
{%block body%}
<h4 class="text-center alert alert-info" > Update data no</h4>



<div class="row"> 
    <div class="col-sm-10 offset-1" > 
        <form action="{% url 'output' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
           <input type="submit" class="btn btn-success col-sm-3" value="Update">
            {% comment %} <a href="{% url 'output' %}" class="btn btn-info col-sm-3">Back to Home</a>  {% endcomment %}
           
        </form>
    </div>



{%endblock body%}