
{% extends 'signature/base.html' %}
{%load  static%}


{%block content%}

<div class="tab" style="display:flex; justify-content:space-between;">
  <button class="tablinks" onclick="openCity(event, 'General')">General</button>
  <button class="tablinks" onclick="openCity(event, 'Personal')">Personal</button>
  <button class="tablinks" onclick="openCity(event, 'Social-Media')">Social-Media</button>
</div>

{% comment %} enctype="multipart/form-data" is important for uploading image also, in view request.files {% endcomment %}

<form method="POST" action="" enctype="multipart/form-data" > 
    {% csrf_token %}
<div id="General" class="tabcontent bg-info">
			
			<div class="d-flex justify-content-center form_container">
              <li style="list-style:none">  
            
                <div class="input-group mt-3 mb-4">
                    <div class="input-group-append">
                        <span class="input-group-text" style="width:40px"><i class="fas fa-user"></i></span>
                    </div>
                    {{form.name}}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-append">
                        <span class="input-group-text" style="width:40px"><i class="fas fa-envelope-square"></i></span>
                    </div>
                    {{form.email}}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-append">
                        <span class="input-group-text"style="width:40px"><i class="fa-regular fa-id-card"></i></span>
                    </div>
                    {{form.Job_Title}}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-append">
                        <span class="input-group-text"style="width:40px"><i class="fa-solid fa-users"></i></span>
                    </div>
                    {{form.Department}}
                </div>
                <div class="input-group mb-5">
                    <div class="input-group-append">
                        <span class="input-group-text"style="width:40px"><i class="fa-solid fa-building-columns"></i></span>
                    </div>
                    {{form.Company}}
                </div>
                
            </li>
               
</div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username..';
        form_fields[2].placeholder='Email..';
        form_fields[3].placeholder='Enter your job title';
        form_fields[4].placeholder='Department';
        form_fields[5].placeholder='Enter your company name';
        </script>
</div>

<div id="Personal" class="tabcontent" style="background-color: #6ddecd ">
    <div class="d-flex justify-content-center form_container"style="width:fit-content">

        <li style="list-style:none; margin:15px;"> 
        
          <div class="input-group mb-3" >
            <div class="input-group-append">
                <span class="input-group-text" style="width:35px; height:30px;"><i class="fa-solid fa-location-dot"></i></span>
            </div>
            {{form.Address}}
            <div id="emailHelp" class="form-text">Don't share any imformation which can Violate Your Privacy</div>
        </div>
        <div class="input-group mb-5">
            <div class="input-group-append">
                <span class="input-group-text" style="width:35px; height:30px;"><i class="fa-solid fa-phone-volume"></i></span>
            </div>
            {{form.Phone}}
            <div id="emailHelp" class="form-text">Try to share your Public number</div>
        </div>
        <div class="input-group mb-4" >  
            <label for="exampleFormControlFile1" class="mb-2"><b>Upload your Image </b></label>
            {{form.Image}}
            <div id="emailHelp" class="form-text">Plaase upload an formal 30X30 image</div>
          </div>


          
    </li> 
</div> 

</div>

<div id="Social-Media" class="tabcontent" style= "background-color: #6d94de">
    <div class="d-flex justify-content-center form_container">
        
            <li style="list-style:none"> 

            <div class="mb-3">
                <label class="form-label"><b>Facebook</b></label>
                {{form.Facebook}}
            </div>
           
            <div class="mb-3">
                <label class="form-label"><b>GitHub</b></label>
                {{form.Github}}
            </div>
            <div class="mb-3">
                <label class="form-label"><b>Twiter</b></label>
                <input type="link" class="form-control" name="twitterURL" Placeholder="https://www.twiter.com/...">
            </div>
             <div class="mb-3">
                <label class="form-label"><b>Linkedin</b></label>
                <input type="link" class="form-control" name="linkedinURL" Placeholder="https://www.linkedin.com/...">
            </div> 
        </li>
        
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-3">
        <input class="btn btn-lg btn-dark" type="submit" value="Apply">
    </div>
</div>

</form>



<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
</div>
{% endblock content%}




{% block output%}

<link rel="stylesheet" href="{% static 'signature/css/outputtan.css'%}">
<section>
<input type="radio" id="layout1" value="1" name="tractor" checked='checked' /> 
<input type="radio" id="layout2" value="2" name="tractor" /> 
<input type="radio" id="layout3" value="3" name="tractor" />
<input type="radio" id="layout4" value="4" name="tractor" />
<nav> 
 
 
<label for="layout1" class="d-flex justify-content-center"><img src="{% static '/signature/media/layout1.svg' %}" alt="Design-1" style="width:fit-content"></label>
<label for="layout2" class="d-flex justify-content-center"><img src="{% static '/signature/media/layout2.svg' %}" alt="Design-2" style="width:fit-content"></label>
<label for="layout3" class="d-flex justify-content-center"><img src="{% static '/signature/media/layout3.svg' %}" alt="Design-3" style="width:fit-content"></label>
<label for="layout4" class="d-flex justify-content-center"><img src="{% static '/signature/media/layout-4.svg' %}" alt="Design-4" style="width:fit-content"></label>
</nav>

<article class='uno'>
 
{%if pers %} 
<table style="FONT-FAMILY: Arial, sans-serif; COLOR: #000000; width:480px;" cellspacing="0" cellpadding="0" border="0">
    {% for items in pers %}
  <tbody>
  <tr>
    {% if items.Image%}
    <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; COLOR: #000000; line-height:12pt; padding-bottom:10px; padding-right:20px; text-align:center; width:170px" width="170" valign="top" align="center">
	<img class="profile" src="{{items.Image.url}}" alt="photograph" width="124" border="0" style=" border: 3px solid #555; height:auto; width:124px"/> 
	 </td>
    {%else%}
    <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; COLOR: #000000; line-height:12pt; padding-bottom:10px; padding-right:20px; text-align:center; width:170px" width="170" valign="top" align="center">
      <img  src="{% static '/signature/media/blank profile.png' %}" alt="photograph" width="124" border="0" style="border:0; height:auto; width:124px"/> 
       </td>
       {%endif%}
    
	<td style="width: 310px; FONT-FAMILY: Arial, sans-serif; padding-bottom:10px" valign="top">
	
	<span style="FONT-SIZE: 20pt; COLOR: #000000; FONT-FAMILY: Arial, sans-serif;"><strong>{{items.name}}</strong></span>
        <span style="FONT-SIZE: 12pt; COLOR: #000000;"><br>{{items.Department}} <span>| </span></span>
	<span style="FONT-SIZE: 12pt; COLOR: #000000;">{{items.Company}}</span>
	<br><br>
	

		<span style="FONT-SIZE: 10pt;"><img src="{% static '/signature/media/mbl.png'%}" alt="phone-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0">&nbsp; {{items.Phone}} <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                <span style="FONT-SIZE: 10pt;"><img src="{% static '/signature/media/phone.jpg'%}" alt="phone-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0">&nbsp; {{items.Phone}}</span>

                <span style="FONT-SIZE: 10pt;"><br><img src="{% static '/signature/media/mail.jpg'%}" alt="phone-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0">&nbsp; {{items.email}}</span>

                <span style="FONT-SIZE: 10pt;">
                    <br>
                    <img src="{% static '/signature/media/address.jpg'%}" alt="address-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0" align="absmiddle"><span>&nbsp; {{items.Address}}</span>
                </span>

                <span style="FONT-SIZE: 10pt;">
                    <br>
                    <img src="{% static '/signature/media/website.png'%}" alt="website-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0" align="absmiddle">&nbsp; <a href="http://{website}" target="_blank" rel="noopener" style=" text-decoration:none;"><strong style="color:#000000; font-family:Arial, sans-serif; font-size:9pt">{{items.email}}</strong></a>
                </span>
                

	</td></tr>
    
  <tr>
		<table style="margin-top:10px;" border="0">
                    <tbody>
                        <tr > 
                                          
			<td style="width: 22px; padding:10px;"><a href="{{items.Facebook}}" target="_blank" rel="noopener"><img src="{% static '/signature/media/fb.png' %}" alt="facebook icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
			<td style="width: 22px; padding:10px;"><a href="{twitterURL}" target="_blank" rel="noopener"><img src="{% static '/signature/media/twiter.png' %}" alt="twitter icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
			<td style="width: 22px; padding:10px;"><a href="{githubURL}" target="_blank" rel="noopener"><img src="{% static '/signature/media/git.png' %}" alt="github icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
			<td style="width: 22px; padding:10px;"><a href="{linkedinURL}" target="_blank" rel="noopener"><img src="{% static '/signature/media/le.png' %}" alt="linkedin icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
			<td style="width: 22px; padding:10px;"><a href="{youtubeURL}" target="_blank" rel="noopener"><img src="{% static '/signature/media/yt.png' %}" alt="youtube icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
		
                          </tr></table>
                

      </td></tbody>
      {%endfor%}
  </table>
  {% else %}
  <h1> Not Found...<h2>

 
{%endif%}  </article>




<article class='dos fa fa-wrench'>


<p>Si hay algún fenómeno en la web que sea lo más parecido a las setas eso son los blogs, cursos y enseñanzas web. Todo lo relativo a la divulgación, de cualquier materia o parcela del conocimiento humano, angelical o mefistofélico, tiene su oferta, sus "maestros" y sus cocinillas visionarios.</p>
</article>
<article class='tres fa fa-beer'>
<ol>
<li>Dimensionado de imágenes y objetos en CSS</li>
<li>Evita pulsaciones no deseadas al hacer scroll</li>
<li>¿Qué es CSS?</li>
<li>CSS Style Attributes. La especificación</li>
<li>Múltiples labels por cada input </li>
<li>Sintaxis de Css y Glosario de términos</li>
</ol>
</article>
<article class='cuatro fa fa-copy'>
<dl>
<dt>Guía de Transiciones Css</dt>
<dd>Todas y cada una de las propiedades css que componen el grupo de las transitions con demos.</dd>
<dt>@Font-face y sus problemas</dt>
<dd>Los problemas más comunes y sus soluciones, que suelen presentarse al utilizar la regla @font-face de Css para mostrar los textos en tipografías distintas a las safety fonts.</dd>
</dl>
</article>
</section>


{%endblock output%}


