{% extends 'signature/base.html' %}

{%block content%}
<div class="row"> 
    {% comment %} <div class="col-sm-4">  {% endcomment %}
  <div class="col-sm-4">

    <form class="well form-horizontal" action=" " method="POST"  id="contact_form">

  {% csrf_token %}
<!-- Form Name -->
{% comment %} <legend><center><h2><b>Registration Form</b></h2></center></legend><br> {% endcomment %}

<!-- Text input-->

<div class="form-group">
  <label class="control-label">First Name</label>  
  <div class="inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="control-label" >Last Name</label> 
    <div class="inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
    </div>
  </div>
</div>

  <div class="form-group"> 
  <label class="control-label">Job Title</label>
    <div class="selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="department" class="form-control selectpicker">
      <option value="">Select your Title</option>
      <option>Developer</option>
      <option>Intern</option>
      <option >Accounting Office</option>
      <option >CEO</option>

    </select>
  </div>
</div>
</div>
  
{% comment %} <!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Username</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="user_name" placeholder="Username" class="form-control"  type="text">
    </div>
  </div>
</div> {% endcomment %}





<!-- Text input-->
       <div class="form-group">
  <label class="control-label">E-Mail</label>  
    <div class="inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="control-label">Contact No.</label>  
    <div class="inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="contact_no" placeholder="(+880)" class="form-control" type="text">
    </div>
  </div>
</div>
<div class="d-flex btn btn-info justify-content-center mt-3">
    <input class="btn login_btn" type="submit" value="Apply">
  </div>

<!-- Select Basic -->



</form>

</div>



<div class="col-sm-7 offset-1"> 
    <h4 class="text-center alert alert-info">Current Stored Data</h4>
   
    <ol>
        {% for item in pep%} 
        <h1>{{item.name}}</h1>
       
       {% endfor%} 
       </ol>
    
      
            
                  

           
    
    

</div> 
</div> 


{%endblock content%}