{% extends 'signature/base.html' %}


{%block content%}
<div class="row"> 
    <div class="col-sm-4" >
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'General')">General</button>
  <button class="tablinks" onclick="openCity(event, 'Professional')">Professional</button>
  <button class="tablinks" onclick="openCity(event, 'Social')">Social</button>
</div>

<div id="General" class="tabcontent bg-info">
			{% comment %} <div class="user_card fit-content"> {% endcomment %}
			<div class="d-flex justify-content-center form_container">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{form.name}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                    </div>
                    {{form.email}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa-regular fa-id-card"></i></span>
                    </div>
                    {{form.Job_Title}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa-solid fa-users"></i></span>
                    </div>
                    {{form.Department}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa-solid fa-building-columns"></i></span>
                    </div>
                    {{form.Company}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                    </div>
                    {{form.Address}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa-solid fa-phone-volume"></i></span>
                    </div>
                    {{form.Phone}}
                </div>
            
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input class="btn btn-lg btn-dark" type="submit" value="Apply">
                </div>
    </form> </div>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username..';
        form_fields[2].placeholder='Email..';
        form_fields[3].placeholder='Enter your job title';
        form_fields[4].placeholder='Department';
        form_fields[5].placeholder='Enter your company name';
        form_fields[6].placeholder='Address';
        form_fields[7].placeholder='Phone Number';
        </script>
</div>

<div id="Professional" class="tabcontent" style="background-color: #6ddecd ">
    <div class="d-flex justify-content-center form_container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{form.name}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
            </div>
            {{form.email}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa-regular fa-id-card"></i></span>
            </div>
            {{form.Job_Title}}
        </div>  
        <div class="d-grid gap-2 col-6 mx-auto">
            <input class="btn btn-lg btn-dark" type="submit" value="Apply">
        </div>
    </form>
</div> 
</div>

<div id="Social" class="tabcontent" style= "background-color: #6d94de">
    <form method="POST" action="">
        {% csrf_token %}
        <h5 class="text-muted">Enter Your Social Media Links Here</h5>
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload your Image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        <div class="form-group">
        <label for="formGroupExampleInput">Facebok </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>  
        <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto " style="margin:15px">
            <input class="btn btn-lg btn-dark" type="submit" value="Apply">
        </div>
       

    </form>
    
  
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
   
</body>
</html> 

        
  
{%for m in messages%}
 <h1 class="btn btn-danger mt-1">{{m}}</h1>
{% endfor %}
</div>

<div class="col-sm-8">
        <h4 class="text-center alert alert-info">Current Stored Data</h4>
        
        </div>

</div>

</div>













{% endblock content%}


