{% extends 'signature/base.html' %}
{%block content%}

<div class="tab">
  <button class="tablinks" onclick="openpage(event, 'General')">General</button>
  <button class="tablinks" onclick="openpage(event, 'Personal')">Personal</button>
  <button class="tablinks" onclick="openpage(event, 'Social')">Social</button>
</div>

{% comment %} enctype="multipart/form-data" is important for uploading image also, in view request.files {% endcomment %}

<form method="POST" action="" enctype="multipart/form-data" > 
    {% csrf_token %}
<div id="General" class="tabcontent bg-info">
			
			<div class="d-flex justify-content-center form_container">
              <li style="list-style:none">  
            
                <div class="input-group mt-3 mb-4">
                    <div class="input-group-append">
                        <span class="input-group-text" style="width:40px; height:40;"><i class="fas fa-user"></i></span>
                    </div>
                    {{form.name}}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-append">
                        <span class="input-group-text" style="width:40px;height:40;"><i class="fas fa-envelope-square"></i></span>
                    </div>
                    {{form.email}}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-append">
                        <span class="input-group-text"style="width:40px;height:40;"><i class="fa-regular fa-id-card"></i></span>
                    </div>
                    {{form.Job_Title}}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-append">
                        <span class="input-group-text"style="width:40px;height:40;"><i class="fa-solid fa-users"></i></span>
                    </div>
                    {{form.Department}}
                </div>
                <div class="input-group mb-5">
                    <div class="input-group-append">
                        <span class="input-group-text"style="width:40px;height:40;"><i class="fa-solid fa-building-columns"></i></span>
                    </div>
                    {{form.Company}}
                </div>
                
            </li>
               
</div>
</div>

<div id="Personal" class="tabcontent bg-info">
    <div class="d-flex justify-content-center form_container" >

        <li style="list-style:none;"> 
        
          <div class="input-group mt-3 mb-4" >
            <div class="input-group-append">
                <span class="input-group-text" style="width:40px;height:40;"><i class="fa-solid fa-location-dot"></i></span>
            </div>
            {{form.Address}}
            {% comment %} <div id="emailHelp" class="form-text">Don't share any imformation which can Violate Your Privacy</div> {% endcomment %}
        </div>
        <div class="input-group mt-2 mb-5">
            <div class="input-group-append">
                <span class="input-group-text" style="width:40px;height:40;"><i class="fa-solid fa-phone-volume"></i></span>
            </div>
            {{form.Phone}}
            {% comment %} <div id="emailHelp" class="form-text">Try to share your Public number</div> {% endcomment %}
        </div>

        
         {% comment %} LOok for responsive imagefield, this field runing full page {% endcomment %}
         <div class="input-group mt-3 mb-1" >   
             <h6>Upload Your Image Here :</h6>
            </div>
            {% comment %} <label class="form-label" style="color:black;"><b>Image :</b></label>  {% endcomment %}
            <div class="col-5 offset-2 mb-5">
            {{form.Image}} </div>
            {% comment %} <div id="emailHelp" class="form-text">Plaase upload an formal 30X30 image</div> {% endcomment %}
          </div> 


          
    </li> 
</div> 


<div id="Social" class="tabcontent" style= "background-color: #6d94de">
    <div class="d-flex justify-content-center form_container">
        
            <li style="list-style:none;"> 

            <div class="input-group mb-4">
                <div class="col-6"> 
                <label class="form-label" style="color:black;"><b>Facebook:</b></label> </div>
                
                <div class="col-sm-10 offset-1"> {{form.Facebook}} </div>
            </div>
            <div class="input-group mb-4"> 
                <div class="col-6"> 
                <label class="form-label" style="color:black;"><b>Github:</b></label> </div>
                <div class="col-sm-10 offset-1"> {{form.Github}} </div>
            </div>
           
            <div class="input-group mb-4">
                <div class="col-6"> 
                <label class="form-label" style="color:black;"><b>Twitter:</b></label> </div>
                <div class="col-sm-10">{{form.Twiter}} </div>
               
            </div>
             <div class="input-group mb-4">
                <div class="col-6"> 
                <label class="form-label" style="color:black;"><b>Linkedin:</b></label> </div>
                <div class="col-sm-10 offset-1"> {{form.Linkedin}} </div>
            </div> 
        </li>
        
    </div>
    
    <div class="d-grid text-center gap-2 col-6 mx-auto mt-3 mb-3">
        <input class="btn btn-lg btn-Success" type="submit" value="Apply">
    </div>
</div>

</form> 
<script>
  

</script> 
</div>
{%endblock content%}

{%block output%}
{%load static%}
<div class="col-md-12 mt-5">
<div class="text-center alert alert-danger">
<h4>Create 100+ free email Signature With Us </h4>

<img class="col-md-12" src="{% static '/signature/media/upstal.png'%}" alt="" style="width:fit-content;">
</div>
</div>
{%endblock output%}




















{% comment %} 

###### -----------------------------output-------------------- 
{% endcomment %}




