{% extends 'signature/input.html' %}
{% block output%}
{%load static%}

<div class="tab">
    <button class="Tlinks active" onclick="opentab(event, 'template1')">template1</button>
    <button class="Tlinks" onclick="opentab(event, 'template2')">template22</button>
    <button class="Tlinks" onclick="opentab(event, 'template3')">template3</button>
</div>
		
<div class="container mt-3 mb-5" id="frame">
  <div id="template1" class="Tcontent" style="background:white;"> 
    <p>template1 bang bang</p>
  </div>

  <div id="template2" class="Tcontent">
    <p>template2 dang dang</p> 
  </div>

  <div id="template3" class="Tcontent">
    <p>template3</p>
  </div>
</div>
  
  
  <div class="col-12 mb-5" style="display:inline-block; padding:5px;">
    

    <a href="/edit/{{pers.name}}"><input class="btn btn-lg btn-danger" type="submit" value="EDIT"> </a>
    {% comment %} <button  class="btn" data-clipboard-target="uno"  >Copy-Template</button> {% endcomment %}
    <button  class="btn btn-lg btn-primary"  onclick="Copy()" >Copy</button>
  </div> 
  













  <script> 

function Copy(){
  
  var activeTabId = document.querySelector('.Tlinks.active').innerText;

   var range = document.createRange();
   
   range.selectNode(document.getElementById(activeTabId));
   window.getSelection().removeAllRanges(); /* clear current selection*/
   window.getSelection().addRange(range); /* to select text*/
   document.execCommand("copy");
   activeTabId.select();
   window.getSelection().removeAllRanges();
   alert("Copied the text: " + activeTabId.value);
}
    
function opentab(event, Tempaltes){
  var i, Tcontent, Tlinks;
  Tcontent = document.getElementsByClassName("Tcontent");
  for (i = 0; i < Tcontent.length; i++) {
  Tcontent[i].style.display = "none";
  }
  Tlinks = document.getElementsByClassName("Tlinks");
  for (i = 0; i < Tlinks.length; i++) {
  Tlinks[i].className = Tlinks[i].className.replace(" active", "");
  }
  document.getElementById(Tempaltes).style.display = "block";
  event.currentTarget.className += " active";
  
  activeTabId = Tempaltes; // here you assign the active tab value
}
opentab(event, 'template1')
{% comment %} openpage(event, 'template1') {% endcomment %}
  </script>

  {%endblock output%}
  