{% extends 'signature/input.html' %}
{% block output%}
{%load static%}

<div class="tab">
    <button class="tablinks" onclick="openGame(event, 'Cricket')">Cricket</button>
    <button class="tablinks" onclick="openGame(event, 'Football')">Football</button>
    <button class="tablinks" onclick="openGame(event, 'Chess')">Chess</button>
</div>
		
<div class="container" id="frame">
  <div id="Cricket" class="tabcontent"> 
    <div class="mt-5"> 
      {%if pers %} 
      <table style="font-family: Arial, sans-serif; COLOR: #000000; width:480px;" cellspacing="0" cellpadding="0" border="0">
         
        <tbody>
        <tr>
        <td style="width: 310px; FONT-FAMILY: Arial, sans-serif; padding-bottom:10px" valign="top">
        
        <span style="FONT-SIZE: 20pt; COLOR: #000000; FONT-FAMILY: Arial, sans-serif;"><strong>{{pers.name}}</strong></span>
              <span style="FONT-SIZE: 12pt; COLOR: #000000;"><br>{{pers.Department}} <span>| </span></span>
        <span style="FONT-SIZE: 12pt; COLOR: #000000;">{{pers.Company}}</span>
        <br><br>
        
      
          <span style="FONT-SIZE: 10pt;"><img src="{% static '/signature/media/mbl.png'%}" alt="phone-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0">&nbsp; {{pers.Phone}} <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                      <span style="FONT-SIZE: 10pt;"><img src="{% static '/signature/media/phone.jpg'%}" alt="phone-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0">&nbsp; {{pers.Phone}}</span>
      
                      <span style="FONT-SIZE: 10pt;"><br><img src="{% static '/signature/media/mail.jpg'%}" alt="phone-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0">&nbsp; {{pers.email}}</span>
      
                      <span style="FONT-SIZE: 10pt;">
                          <br>
                          <img src="{% static '/signature/media/address.jpg'%}" alt="address-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0" align="absmiddle"><span>&nbsp; {{pers.Address}}</span>
                      </span>
      
                      <span style="FONT-SIZE: 10pt;">
                          <br>
                          <img src="{% static '/signature/media/website.png'%}" alt="website-icon" style="border-radius: 50%; height:15px; width:15px" width="12" height="12" border="0" align="absmiddle">&nbsp; <a href="http://{website}" target="_blank" rel="noopener" style=" text-decoration:none;"><strong style="color:#000000; font-family:Arial, sans-serif; font-size:9pt">{{pers.email}}</strong></a>
                      </span>
                      <td>
                        {% if pers.Image%}
                          <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; COLOR: #000000; line-height:12pt; padding-bottom:10px; padding-right:20px; text-align:center; width:170px" width="170" valign="top" align="center">
                          <img class="profile" src="{{pers.Image.url}}" alt="photograph" width="124" border="0" style=" border: 3px solid white; height:auto; width:124px;border-radius:50%;"/> 
                           </td>
                        {%else%}
                           <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; COLOR: #000000; line-height:12pt; padding-bottom:10px; padding-right:20px; text-align:center; width:170px" width="170" valign="top" align="center">
                           <img  src="{% static '/signature/media/blank profile.png' %}" alt="photograph" width="124" border="0" style="border:0; height:auto; width:124px"/> 
                           </td>
                         {%endif%}
                          <table style="margin-top:10px;" border="0">
                                          <tbody>
                                              <tr> 
                                                                
                            <td style="width: 22px; padding:10px;"><a href="{{pers.Facebook}}"  rel="noopener"><img src="{% static '/signature/media/fb.png' %}" alt="facebook icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
                            <td style="width: 22px; padding:10px;"><a href="{{pers.Twiter}}"  rel="noopener"><img src="{% static '/signature/media/twiter.png' %}" alt="twitter icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
                            <td style="width: 22px; padding:10px;"><a href="{{pers.Github}}"  rel="noopener"><img src="{% static '/signature/media/git.png' %}" alt="github icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
                            <td style="width: 22px; padding:10px;"><a href="{{pers.Linkedin}}"  rel="noopener"><img src="{% static '/signature/media/le.png' %}" alt="linkedin icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
                            <td style="width: 22px; padding:10px;"><a href="{{pers.Facebook}}"  rel="noopener"><img src="{% static '/signature/media/yt.png' %}" alt="youtube icon" style="border:0; height:25px; width:25px" width="15" border="0"></a></td>
                          
                                                </tr></table> 
                        
                      </td>
    
        </td></tr>
       
          
        
      
            </td></tbody>
       
        </table>
        {% else %}
        <h1> Not Found...<h2>
      
       
      {%endif%} 
        </div>
   
  
  </div>

  <div id="Football" class="tabcontent">
    <p>Football</p> 
  </div>

  <div id="Chess" class="tabcontent">
    <p>Chess</p>
  </div>
</div>
  
  
  <div class="col-12 mb-5" style="display:inline-block; padding:5px;">
    

    <a href="/edit/{{pers.name}}"><input class="btn btn-lg btn-danger" type="submit" value="EDIT"> </a>
    {% comment %} <button  class="btn" data-clipboard-target="uno"  >Copy-Template</button> {% endcomment %}
    <button  class="btn btn-lg btn-primary"  onclick="Copy()" >Copy</button>
  </div> 
  


  <script> 
    {% comment %} var activeTabId = 'Cricket'; // Or whatever your default tab is {% endcomment %}

function Copy(){
  var activeTabId = document.querySelector('.tablinks.active').innerText;

   var range = document.createRange();
   
   range.selectNode(document.getElementById(activeTabId));
   window.getSelection().removeAllRanges(); /* clear current selection*/
   window.getSelection().addRange(range); /* to select text*/
   document.execCommand("copy");
   activeTabId.select();
   window.getSelection().removeAllRanges();
   alert("Copied the text: " + activeTabId.value);
}
    
function openGame(evt, GameName){
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
  tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
  tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(GameName).style.display = "block";
  evt.currentTarget.className += " active";
  
  activeTabId = GameName; // here you assign the active tab value
}
  </script>

  {%endblock output%}
  