{% extends 'signature/input.html' %}
{% block output%}
<div class="container-fluid">
<div class="row justify-content-center" id="output-container">

<div class="col-md-12"> 
  <div class="row">
    <div class="col-md-6" id="template" onclick="Copy()">
      <div class=""> 
        {%block Template-1%}   
<div class="col-md-12" id="table" >
  <div class="row"> 
      <div  class="col-md-4 d-flex align-items-center justify-content-center" id="photo">
        <img class="img-fluid" src="/static/signature/media/blank profile.png" alt=""> 
      </div>
    
      <div class="col-md-8">
        
         <div class="text-center" id="name">Robert Long <span> Designer</span></div>
        <div id="others">
          <div class="details">
            
            <div >7743 Street, Blue Park, Suite 233, Smalltown,Stateville, USA 774386</div>
            <div><span>t</span> +1 (234) 567 - 890  |  <span>m</span> 0123 - 456 - 789</div>
            <div><span>e</span> <a href="#">contact@robertlong.com</a> | <span>w</span> <a href="#">www.robertlong.com</a></div>
          </div> 
        </div> 
        <ul>
          <li valign="bottom">
            <a href="#"><img src="/static/signature/media/icon_fb.png"  alt="" /></a>
            <a href="#"><img src="/static/signature/media/icon_tw.png"  alt="" /></a>
            <a href="#"><img src="/static/signature/media/icon_li.png"  alt="" /></a>
            <a href="#"><img src="/static/signature/media/icon_gl.png"  alt="" /></a>                        
                                 
          </li>
        </ul>
      </div>
  </div>  
</div>
        {%endblock%}
      </div>
    </div>
    <div class="col-md-6" id="template"> 
      <div class=""> 
        {%block Template-2%}  
        <div id="table">
          <div class="text-center"id="name"> Robert Long</div>
          <div class="text-center"id="job"> DESIGNER</div>
          <div class="details" id="border-down"> 
            <ul> 
              <li><span>t</span> +1 (234) 567 - 890 <span>m</span> 0123 - 456 - 789 </li>
              <li><span>e</span> <a href="#">contact@robertlong.com</a> | <span>w</span> <a href="#">www.robertlong.com</a></li>    
            </ul>
          </div>
          
        </div>

          {%endblock%}
      </div>  
    </div>
    </div>
</div>


{% comment %}---------------------- row no two------------- 
i am just copy pasting table templates {% endcomment %}


<div class="col-md-12"> 
  <div class="row">
    <div class="col-md-6" id="template">
     
      <div class="">
        {%block Template-3%}
        <div class="row">
         <div class="col-md-12">
           <div id="into">
           <ul>
             <li><div id="photo"><img class="img-fluid" src="/static/signature/media/blank profile.png" alt=""></div></li>
             <li><div id="name">Robert Long</div></li>
             <li><div id="job">Designer</div></li>
            </ul>
            </div>
           <div class="details"> 
            <ul>
              <li><div id="address">7743 Street, Blue Park, Suite 233, Smalltown,Stateville, USA 774386</div></li>
              <li><div><span><i class="fa-solid fa-phone"></i></span> +1 (234) 567 - 890  |  <span><i class="fa-solid fa-mobile"></i></span> 0123 - 456 - 789</div></li>
              <li><span><i class="fa-solid fa-envelope"></i></span> <a href="#">contact@robertlong.com</a> | <span>w</span> <a href="#">www.robertlong.com</a></li>
            </ul> 
          </div>

         </div>
        </div>
        {%endblock%}
      </div>
    </div>
    <div class="col-md-6" id="template"> 
      <div class="text-center"> 
        <h2>Template-4</h2>
        {%block Template-4%}
       
        {%endblock%}
      </div>  
    </div>
    </div>
</div>  

<div class="col-md-12"> 
  <div class="row">
    <div class="col-md-6" id="template">
      <div class="text-center">
        <h2>Template-5</h2>  
        {%block Template-5%}
        {%endblock%}
      </div>
    </div>
    <div class="col-md-6" id="template"> 
      <div class="text-center"> 
        <h2>Template-6</h2>
        {%block Template-6%}
        {%endblock%}
      </div>  
    </div>
    </div>
</div>  


<div class="col-md-12"> 
  <div class="row">
    <div class="col-md-6"  id="template">
      <div class="text-center">
        <h2>Template-7</h2>  
        {%block Template-7%}
        {%endblock%}
      </div>
    </div>
    <div class="col-md-6" id="template"> 
      <div class="text-center"> 
        <h2>Template-8</h2>
        {%block Template-8%}
        {%endblock%}
      </div>  
    </div>
    </div>
</div>   
<div class="col-md-12"> 
  <div class="row">
    <div class="col-md-6" id="template">
      <div class="text-center">
        <h2>Template-9</h2>  
        {%block Template-9%}
        {%endblock%}
      </div>
    </div>
    <div class="col-md-6" id="template"> 
      <div class="text-center"> 
        <h2>Template-10</h2>
        {%block Template-10%}
        {%endblock%}
      </div>  
    </div>
    </div>
</div>  





</div> 
</div>






{%endblock output%}