{% extends 'signature/input.html' %}
{% block output%}
<div class="col-12"> 
  <div class="row">
    <div class="col-6" id="template">
      <div class="text-center alert alert-primary">
        <h2>Template-1</h2>  
        {%block Template-1%}
        {%endblock%}
      </div>
    </div>
    <div class="col-6" id="template"> 
      <div class="text-center alert alert-primary"> 
        <h2>Template-2</h2>
        {%block Template-2%}
        {%endblock%}
      </div>  
    </div>
    </div>
</div>
<div class="col-12"> 
  <div class="row">
    <div class="col-6" id="template">
      <div class="text-center alert alert-primary">
        <h2>Template-3</h2>  
        {%block Template-3%}
        {%endblock%}
      </div>
    </div>
    <div class="col-6" id="template"> 
      <div class="text-center alert alert-primary"> 
        <h2>Template-4</h2>
        {%block Template-4%}
        {%endblock%}
      </div>  
    </div>
    </div>
</div>   


<div class="col-12"> 
  <div class="row">
    <div class="col-6"  id="template">
      <div class="text-center alert alert-primary">
        <h2>Template-5</h2>  
        {%block Template-5%}
        {%endblock%}
      </div>
    </div>
    <div class="col-6" id="template"> 
      <div class="text-center alert alert-primary"> 
        <h2>Template-6</h2>
        {%block Template-6%}
        {%endblock%}
      </div>  
    </div>
    </div>
</div>    



  

{%endblock output%}