

#template{
  background:white;
  border: 1px solid #EAEAEA;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:5px;
  
}
#template:hover{
  /* background:#5A46F1; */
  color:white;
  background:#c2c0d3;
}

#others{
  border-left:3px solid #007fe6;
  padding: 10px;
}
#output-container{
  justify-content: center;
}

#table{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size:26px; 
  color:#007fe6; 
  line-height:25px;
  
}

#photo img{
  height:50px;
  width:50px;
}
#name{
  font-size:12px;
  color:#007fe6; 
  line-height:25px;
}
#name span{
  font-size:12px; 
  color:#333333;
}
#designation{
  font-size:13px;
  color:black; 
  line-height:20px;
  letter-spacing: 2px;
}
.details{
  /* margin-left:10px; */
  font-size:10px; 
  color:#999999; 
  line-height:18px;
  padding-top:3px;
  justify-content:center;
  font-size:10px; 
  color:#999999; 
  line-height:18px;
  padding-top:3px;
}
.details span{
  color:#007fe6;
}
.details a{
  color:#999;
  text-decoration:none;
}

#address, #number ,#Contact{
  white-space: normal;
  font-size:10px; 
  color:#999999; 
  line-height:16px;
  padding-top:3px;

}
#address span,
#number span,
#Contact span{
  color:#007fe6;
}

#Contact a{
  color:#999;
  text-decoration:none;
}
li{
  list-style: none;
  padding-top:5px;

}

li a img{
  padding-right:5px;
  height:16px;
  width: 18px; 
}

/* --------------template2 */

#name{
  font-size:22px;
  color:#007fe6; 
  line-height:25px; 
  font-weight:900;
}
#job{
  font-size:20px;
  padding-top:3px;
  color:#333333
}

#border-down{
  border-bottom: 3px solid #007fe6;
  
}

#name4{
  font-size:20px; 
  color:#007fe6;
  line-height:22px;
}
#name4 span{
  font-weight:900;
}
#designation4{
  padding-top:3px;
  color:#333333;
  letter-spacing:12px; 
  font-size:12px;
  font-weight:bold;
}
#social a{
  margin-top: 10px;
  color:blue;
  padding-right:15px;
}
#social a img{
height:15px;
width:15px;
}


 /*------------------------- 3rd file */
 /* #photo-big{
   width: fit-content;
 } */
#photo-big img{
  height:100px;
  width:100px;
  margin-top: 10px;
}
#big-image{
  margin:5px;
}
#name-5{
  font-size:16px; 
  color:#333333;
}
#name-5 span{
  color:#007fe6;
  font-size:14px;
}

#details{
  font-size:11px;
  color:#999999;
  padding-top:6px; 
  line-height:18px;
  
}
#details li{
  border-right:solid 1px #999999;
}
#details ul li #number{
  font-size:11px;
  color:#999999;
  line-height:16px;
  padding-top:5px;
}
#details ul li a{
  color:#999;
  text-decoration:none;
  font-size:11px;
  line-height:20px;
  padding-top:0px;
}
#details ul li span img{
  vertical-align:central;
  
}

#social-5 li{
  margin-left: -10px;

}


#name6{
  white-space:nowrap;
  text-align:right;
  color:#007fe6;
  font-size:18px;
  padding-right:5px;
  padding-top:3px;
}
#designation6{
white-space:nowrap;
 text-align:right;
 color:#333333; 
 font-size:10px;
 padding-right:5px;

}
#social6 ul li a{
  margin-left:-15px; 
}
#border6{
  border-left:#007fe6 solid 3px;
  padding:5px;

  }


#intro7{
  padding-left:20px;
}
#intro7 li #name{
  font-size:16px;
  color:#007fe6;
}
#intro7 li #name span{
   font-size:14px;
   color:#333333;
}
#image-r{
  border-radius:50%;
  height:80px;
  width: 80px;
}

#right8,
#right9{
  text-align:right;
}

#designation9{
  font-size:13px;
  color:#007fe6;
}
#name9{
  font-size:16px;
  color:#333333;
  padding-top:5px; 
  line-height:18px; 
  font-weight:bold;
}
.social-R img{
  margin-top: 10px;
  border-radius: 50%;
  padding-right:0px;
}


/* --------------last row  */

#details9{
  width: fit-content;
  padding: 0%;
  margin: 0%;
}
#temp9{
  margin:10px;
  border: 2px double black;
}
#photo9{
height:50px;
width:50px;
}


#temp10{
  margin:10px;
  padding-top:5px;
  padding-bottom:5px;
  border:2px solid #999999; 
}

#name10{
  font-size:20px;
  font-weight:900;
  color:#007fe6; 
  line-height:25px;
  letter-spacing: 3px;
}
#designation10{
  font-size:17px;
  font-weight:500;
  color:#757373; 
  line-height:20px;
  letter-spacing: 2px;
}
#social10 a img{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

#backgrund12{
  padding:5px;
  background-color: #007fe6;
  color:white;
  font-size: 11px;
}

#Contact12 a{
  color:white;
  text-decoration:none;
  font-size:11px;
  line-height:20px;
  padding-top:0px;
}
#intro13{
  font-size:16px;
  color:#007fe6;
  font-weight:bold; 
  border-left: #007fe6 solid 2px; 
  padding-left: 10px;
}

#designation13{
  font-size:12px;
   color:#555555;
}
#phone13{
  font-size:11px;
  color:#999999; 
  padding-top:6px; 
  line-height:18px; 
  padding-top:15px; 
  padding-left: 12px;
}
#email13,
#contact13,
#address13{
  font-size:11px;
   color:#999999; 
   line-height:20px; 
   padding-left: 12px; 
}
#email13 a,
#contact13 a,
#address13 a
{
  color:#0a48fa;
  text-decoration: none;
}
#social13{
  padding-top:12px;
  padding-left:12px; 
}
#social13 a{
  padding-right:8px;
}
#social13 img{
  height:17px;
  width: 16px;
}
#summery{
  font-size:8px;
  color:#999999; 
  padding-left:12px; 
  line-height:15px; 
  padding-top:12px;
}

#intro14{
  font-size:14px; 
  color:#333333; 
  font-weight:bold; 
  padding-top:11px; 
}

#intro14 span{
  font-size:12px; 
  color:#007fe6; 
  font-weight:normal;
}
#number img,
#Contact img{
  margin-right: 5px;
}

#social-link li {
  padding-bottom:8px;
}
#social-link span{
  padding-bottom:8px; 
  color:#999999; 
  font-size:11px;
}
#border15{
  padding:2px;
  border:1px solid #999999;
}
#into15{
  margin:4px;
  border-bottom:1px solid #999999;
}

#photo15{
  height: 90px;
  width: 85px;

}

#social-15 a{
 padding:2px;
}
#social-15 a img{
  height:12px;
  width: 12px;
}
#image-R{
  height: 100px;
  width:100px;
  border-radius: 50%;
}
#bod16{
  border-left: 2px solid blue;
}

#temp17 #number a,
#temp17 #Contact a
{
  padding-bottom: 3px;
  border-bottom: 1px solid #c9c9c9;
}
#into19{
  background-color:#007fe6; 
  color:#fff; 
  padding:5px;
}
#name19{
  color:#ffffff;
  font-size:18px; 
  letter-spacing:2px; 
  font-weight:bold;
}
#designation19{
  color:#ffffff; 
  font-size:8px;
}

#into20{
  text-align:right;
  margin-top: 20px;
}
#name20{
  background-color:#007fe6; 
  color:#ffffff; 
  font-weight:bold; 
  padding:5px; 
  letter-spacing:2px;
}
#designation20{
  color:#007fe6; 
  font-size:10px; 
  padding-top:10px; 
  letter-spacing:1px;
}

#social21 a{
  padding: none;
  margin: none;
}

#boder21{
  border-bottom:#000000 solid 5px;
  margin-top: 10px;
}
#border22{
  border-left:#000000 solid 2px;
}
#social22{
  padding-top:50%;
}
#backgrund23{
  margin-left: 3px;
  margin-right: 3px;
  background: #007fe6;
}
#Contact23,
#number23{
  font-size:11px;
  color:#999999;
  color: #EAEAEA;
  padding-top: 3px;
}
#Contact23 a{
  text-decoration: none;
  color: #EAEAEA;
}

#name24{
  font-size:14px; 
  color:#313131; 
  line-height:25px; 
  font-weight:bold; 
  padding-bottom:2px;
  border-bottom:#eeeeee solid 2px;
}

#name24 span{
  font-size:12px; 
  color:#666666; 
  font-weight:normal;

}
#social24 {
  width: fit-content;
  font-size:11px; 
  color:#999999; 
  line-height:10px; 
  padding-top:3px; 
  text-align:right
}
#social24 a{
  padding-right: 2px;
}
#Contact25 a{
  text-decoration: none;
  font-size:11px;

}
#designation25{
  padding-bottom:5px;
  border-bottom: #c9c9c9 dashed 1px;
  font-size:13px;
  color:black; 
  line-height:20px;
  letter-spacing: 2px;
}

#temp25{
  line-height: 30px;
}
#horizontal{
  margin-left:5px;
  margin-right: 5px;
}
#designation26{
  font-size:12px;
  font-weight:bold; 
  color:#ffffff;
}
#name26{
  font-size:18px; 
  color:#ffffff; 
  font-weight:bold;
}
#Contact26 a,
#number26,
#address26{
  font-size:9px; 
  color:#ffffff; 
  line-height:20px; 
  padding-top:5px;
  text-decoration: none;
}
#blue0{
  background-color:#09a8e7;
}
#blue1{
  background-color:#007fe6;
}
#blue2{
  background-color:#044f8d;
}
/* #photo26{
  height:100%;
  width:100%;
} */