button{
  margin: 0;
  padding: 0;
  border: none;
  float: left;
  margin-left: 2px;
}
#button button img{
  height: 20px;
  width: 20px;
  padding: 2px;
}

#codebox {
  width: 100%;
  height: 100px;
}



.att_color{
  font-size:10px; 
  /* color:#999999;  */
  line-height:16px;
}


#sign38 img{
  height: 30px;
  width: 70px;
  vertical-align:middle;
  /* text-align:right; */
}

#template{
  background:white;
  border: 1px solid #EAEAEA;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:5px;
  
}
#template:hover{
  /* background:#5A46F1; */
  color:white;
  background:#c2c0d3;
}

#others #details{
  border-left:3px solid #007fe6;
  padding-left:10px;
}
#output-container{
  justify-content: center;
}

#table{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size:26px; 
  color:#007fe6; 
  line-height:25px;
  
}

#photo {
  height:50px;
  width:50px;
}
#name{
  font-size:12px;
  color:#007fe6; 
  line-height:25px;
}
#name span{
  font-size:12px; 
  color:#333333;
}
#name span span{
  font-size:9px; 
  color:#616060;
}
#designation{
  font-size:13px;
  color:black; 
  line-height:20px;
  letter-spacing: 2px;
}
#designation span{
  color:#0d5b9b;
  font-size:11px; 
  letter-spacing:normal;
}
.details{
  /* margin-left:10px; */
  font-size:10px; 
  color:#999999; 
  line-height:18px;
  padding-top:3px;
  justify-content:center;
  font-size:10px; 
  color:#999999; 
  line-height:18px;
  padding-top:3px;
}
/* .details span{
  color:#007fe6;
} */
.details a{
  color:#999;
  text-decoration:none;
}
a{
  text-decoration: none;
}

#address, #phone, #mobile ,#Contact,
#addressP, #phoneP, #mobileP ,#ContactP{
  white-space: normal;
  font-size:10px; 
  color:#999999; 
  line-height:16px;
  padding-top:3px;
}


#ContactP span img,
#phoneP span img, #mobileP span img,
#addressP span img{
  height: 15px;
  width: 15px;
  padding-right: 5px;
}
#Contact a,
#ContactP a{
  color:#999;
  text-decoration:none;
}
li{
  list-style: none;
  padding-top:5px;

}

li a img{
  /* padding-right:5px; */
  height:18px;
  width: 18px; 
}

/* --------------template2 */

#name{
  font-size:22px;
  color:#007fe6; 
  line-height:25px; 
  font-weight:900;
}

#job,
#designation3,
#Company3{
  font-size:15px;
  padding-top:3px;
  color:#333333;
}

#border-down{
  border-bottom: 3px solid #007fe6;
}

#Company{
  font-size:11px;
  letter-spacing:1px;
  color:#000000; 
  line-height:18px; 
  font-weight:200;
}
#name4{
  font-size:20px; 
  color:#007fe6;
  line-height:22px;
}
#name4 span{
  font-weight:900;
}
#designation4{
  padding-top:3px;
  color:#333333;
  letter-spacing:12px; 
  font-size:12px;
  font-weight:bold;
}
#social a{
  margin-top: 10px;
  color:blue;
  padding-right:15px;
}
#social a img{
height:15px;
width:15px;
}


 /*------------------------- 3rd file */

#photo-big{
  height:100px;
  width:100px;
  /* margin-top: 10px; */
}
#big-image{
  margin:5px;
}
#name-5{
  font-size:20px; 
  color:#333333;
}
#designation5{
  color:#007fe6;
  font-size:14px;
}

#details{
  font-size:11px;
  color:#999999;
  padding-top:6px; 
  line-height:18px;
  
}
#social5-b{
  border-left:solid 1px #999999;
}

#details ul li #phone,#details ul li #mobile{
  font-size:11px;
  color:#999999;
  line-height:16px;
  padding-top:5px;
}
#details ul li a{
  color:#999;
  text-decoration:none;
  font-size:11px;
  line-height:20px;
  padding-top:0px;
}
#details ul li span img{
  vertical-align:central;
  
}

#social5 li a img{
  margin:0;
  padding: 0;
}


#name6{
  white-space:nowrap;
  text-align:right;
  color:#007fe6;
  font-size:18px;
  padding-right:5px;
  padding-top:3px;
}
#designation6{
white-space:nowrap;
 text-align:right;
 color:#333333; 
 font-size:10px;
 padding-right:5px;

}
#social6 ul li a{
  margin-left:-15px; 
}
#border6{
  border-left:#007fe6 solid 3px;
  padding:5px;

  }


#intro7{
  padding-left:20px;
}
#intro7 li #name{
  font-size:16px;
  color:#007fe6;
}
#intro7 li #desination8{
   font-size:14px;
   color:#333333;
}
#image-r{
  border-radius:50%;
  height:80px;
  width: 80px;
}

#right8,
#right9{
  text-align:right;
}

#designation9{
  font-size:13px;
  color:#007fe6;
}
#name9{
  font-size:16px;
  color:#333333;
  padding-top:5px; 
  line-height:18px; 
  font-weight:bold;
}
.social-R img{
  margin-top: 10px;
  border-radius: 50%;
  padding-right:0px;
}


/* --------------last row  */

#details9{
  width: fit-content;
  padding: 0%;
  margin: 0%;
}
#temp9{
  margin:10px;
  border: 2px double black;
}
#photo9{
height:50px;
width:50px;
}


#temp10{
  margin:10px;
  padding-top:5px;
  padding-bottom:5px;
  border:2px solid #999999; 
}

#name10,
#name38{
  font-size:20px;
  font-weight:900;
  color:#007fe6; 
  line-height:25px;
  letter-spacing: 3px;
}
#designation10,
#designation38{
  font-size:17px;
  font-weight:500;
  color:#757373; 
  line-height:20px;
  letter-spacing: 2px;
}
#social10 a img{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

#backgrund12{
  padding:5px;
  background-color: #007fe6;
  color:white;
  font-size: 11px;
}

#Contact12 a{
  color:white;
  text-decoration:none;
  font-size:11px;
  line-height:20px;
  padding-top:0px;
}
#intro13{
  font-size:16px;
  color:#007fe6;
  font-weight:bold; 
  border-left: #007fe6 solid 2px; 
  padding-left: 10px;
}

#designation13{
  font-size:12px;
   color:#555555;
}
#phone13{
  font-size:11px;
  color:#999999; 
  padding-top:6px; 
  line-height:18px; 
  padding-top:15px; 
  padding-left: 12px;
}
#email13,
#contact13,
#address13{
  font-size:11px;
   color:#999999; 
   line-height:20px; 
   padding-left: 12px; 
}
#email13 a,
#contact13 a,
#address13 a
{
  color:#0a48fa;
  text-decoration: none;
}
#social13{
  padding-top:12px;
  padding-left:12px; 
}
#social13 a{
  padding-right:8px;
}
#social13 img{
  height:17px;
  width: 16px;
}
#summery{
  font-size:8px;
  color:#999999; 
  padding-left:12px; 
  line-height:15px; 
  padding-top:12px;
}

#into14,
#name37{
  font-size:13px; 
  color:#333333; 
  font-weight:bold; 
  padding-top:11px; 
}

#into14 #designation14{
  font-size:11px; 
  color:#007fe6; 
  font-weight:normal;
}
#phone img, #mobile img,
#Contact img
{
  margin-right: 5px;
}

#social-link li {
  padding-bottom:8px;
}
#social-link li a {
  margin-right:2px;
}
#social-link span{
  padding-bottom:8px; 
  color:#999999; 
  font-size:11px;
}
#border15{
  padding:2px;
  border:1px solid #999999;
}
#into15{
  margin:4px;
  border-bottom:1px solid #999999;
}

#photo15{
  height: 90px;
  width: 85px;

}

#social-15 a{
 padding:2px;
}
#social-15 a img{
  height:12px;
  width: 12px;
}
#image-R{
  height: 100px;
  width:100px;
  border-radius: 50%;
}
#bod16{
  border-left: 2px solid blue;
}

#temp17 #phone17, #mobile17 a,
#temp17 #Contact a
{
  padding-bottom: 3px;
  border-bottom: 1px solid #c9c9c9;
}
#into19{
  background-color:#007fe6; 
  color:#fff; 
  padding:5px;
}
#name19{
  color:#ffffff;
  font-size:18px; 
  letter-spacing:2px; 
  font-weight:bold;
}
#designation19{
  color:#ffffff; 
  font-size:8px;
}

#into20{
  text-align:right;
  margin-top: 20px;
}
#name20{
  background-color:#007fe6; 
  color:#ffffff; 
  font-weight:bold; 
  padding:5px; 
  letter-spacing:2px;
}
#designation20,
#designation39{
  color:#007fe6; 
  font-size:10px; 
  padding-top:10px; 
  letter-spacing:1px;
}
#social20 a{
  padding-left: 10px;
  justify-content: space-between;
}
#single-space{
  padding-top: 10px;
}

#social21 a{
  padding: none;
  margin: none;
}

#boder21{
  border-bottom:#000000 solid 5px;
  margin-top: 10px;
}
#border22{
  border-left:#000000 solid 2px;
}
#social22{
  padding-top:50%;
}
#backgrund23{
  margin-left: 3px;
  margin-right: 3px;
  background: #007fe6;
}
#lower{
  margin-top: 10px;
  /* padding-top: 50px; */
}
#Contact23,
#phone23, #mobile23{
  font-size:11px;
  color:#999999;
  color: #EAEAEA;
  padding-top: 3px;
}
#Contact23 a{
  text-decoration: none;
  color: #EAEAEA;
}

#upper-part{
  font-size:15px; 
  color:#1b1b1b; 
  line-height:25px; 
  font-weight:bold; 
  padding-bottom:2px;
  border-bottom:#eeeeee solid 2px;
}

#upper-part #designation{
  padding-left: 8px;
  font-size:12px; 
  color:#4e4e4e; 
  font-weight:500;

}
#upper-part #Company{
  padding-left: 8px;
  font-size:9px; 
  color:#5c5a5a; 
  font-family:'Times New Roman', Times, serif;
  font-weight:500;

}
#social24 {
  width: fit-content;
  font-size:11px; 
  color:#999999; 
  line-height:10px; 
  padding-top:3px; 
  text-align:right
}
#social24 a img {
  padding-right: 2px;
  height: 15px;
  width: 15px;
}

#Contact25 a{
  text-decoration: none;
  font-size:11px;

}
#designation25{
  padding-bottom:5px;
  border-bottom: #c9c9c9 dashed 1px;
  font-size:13px;
  color:black; 
  line-height:20px;
  letter-spacing: 2px;
}

#temp25{
  line-height: 30px;
}
#horizontal{
  margin-left:5px;
  margin-right: 5px;
}
#designation26{
  font-size:12px;
  font-weight:bold; 
  color:#ffffff;
}
#name26{
  font-size:18px; 
  color:#ffffff; 
  font-weight:bold;
}
#address26,
#Contact26 a,
#Contact26 span, 
#number26,
#number26 span
{
  font-size:9px; 
  color:#ffffff; 
  line-height:20px; 
  padding-top:5px;
  text-decoration: none;
}
#blue0{
  background-color:#09a8e7;
}
#blue1{
  background-color:#007fe6;
}
#blue2{
  background-color:#044f8d;
}
/* #photo26{
  height:100%;
  width:100%;
} */
#r-border{
  border-left: 3px solid #53a3e4;
}
#sign27{
  padding-top:20px;
  padding-bottom:10px;
} 
#sign27 img,
#sign37 img,
#sign38 img,
#sign-44 img
{
  height:30px;
  width: 90px;
  /* background-color: yellowgreen; */
}
#logo, #sign{
  /* background-color: rgb(231, 228, 58); */
}

#name28{
  font-size:15px; 
  color:#313131; 
  font-weight:bold; 
  padding-top:2px;
}
#photo-l{
  height: 100%;
  width: 100%;
}

#top-border{
  border-top: 3px solid #007fe6;
  margin-top: 3px;
  padding-bottom: 3px;
}
#Contact29 a{
  text-decoration: none;
  font-size: 11px;
  color:#044f8d
}
#Contact29,#Contact29 span{
  color:#999999;
  font-size: 11px;
}
#social-link31{
margin-left:10%
}
#social-link31 span{
  color:#999999; 
  font-size:11px;

}
#social32 {
  margin-top: 5px;
}
#social32 a img{
  padding-right:10px;
}
#summery33{
  font-size:8px;
  color:#999999; 
  line-height:15px; 
  padding-top:12px;
}

#name34{
  font-size:18px;
  color:#007fe6; 
  line-height:25px; 
  font-weight:900;
}
#designation34{
  font-size:13px;
  color:rgb(75, 74, 74); 
  line-height:18px; 
  padding-bottom: 5px;
}
#border34{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 4px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
#image34 #photo-big{
  height: 60px;
  width: fit-content;
  border-radius: 50%;
}
#tem35{
  margin: 10px;
}
#tem35-into{
background-color:#007fe6; 
padding-top:8px; 
padding-bottom:8px; 
padding-left:13px;
}
#tem35-image{
  background-color: #cecece;
}
#tem35 #photo{
  height:fit-content;
  width:fit-content;
  margin: none;
  padding: none;
}
#name35{
  color:#ffffff; 
  font-size:20px; 
  letter-spacing:5px; 
  font-weight:bold;
}
#designation35{
  color:#ffffff; 
  font-size:9px;
}
#border36{
  border-left: #eeeeee solid 2px;
}
#border37{
  border-left: 3px solid #007fe6 ;
}
#sign37{
  padding-left:15px;
}
#sign38{
  padding-top: 15px;
  text-align: right;
}
#image40 img{
height: 60px;
width: 60px;
border-radius: 50%;
}
#designation41{
  padding-bottom:5px;
  border-bottom: #007fe6 dashed 1px; 
  font-size:13px;
  color:black; 
  line-height:20px;
  letter-spacing: 2px;
}
#address41{
  white-space: normal;
  font-size:10px; 
  color:white; 
  line-height:16px;
  padding-top:8px;
  padding-bottom: 8px;
 
}
#name42{
  font-size: 16px;
  font-weight: bolder;
  color:black; 
}
#designation42{
  font-size:12px;
  font-weight: lighter;
  color:rgb(61, 60, 60); 
  /* color: #007fe6; */
}
#social43 a{
  padding:5px;
}
#sign-44{
  padding-top: 10px;
}
#Contact44 a,
#phone44 #mobile44{
  padding-top: 5px;
  text-decoration: none;
  font-size: 10px;
  color:white;
}
#Contact44 span,
#phone44, #mobile44 span{ 
  color: #1e97cf;
  font-size: 10px;
}